<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127114542661-n2c8skg77a7figd9u9fh9oo96s1llfb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127114542661-n2c8skg77a7figd9u9fh9oo96s1llfb5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>127114542661-1pqct1bjq74b1dg64dmnmjenqmvapkgl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALKiox1eHb7JUa-I_kPc9FaeysVaFdhXM</string>
	<key>GCM_SENDER_ID</key>
	<string>127114542661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.apollocode.app</string>
	<key>PROJECT_ID</key>
	<string>apollocode-feb1f</string>
	<key>STORAGE_BUCKET</key>
	<string>apollocode-feb1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127114542661:ios:2a4b8552648ac48b782d2c</string>
</dict>
</plist>